# ignore all in libft directory
libft

# ignore all .o, .a, .out files.
*.o
*.a
*.out

# ignore macos file
.DS_Store

# ignore gitignore file
.gitignore

# ignore test & example files
ex*.c
test*.c

# ignore all testers (matches any files and directories with the name)
ft_printf_tester
printfTester
